* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.bg-blue {
  background: rgb(64, 64, 153);
}
.container {
  max-width: 90%;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}
.logoWrapper img {
  /* width: 100%; */
  height: 80px;
  width: 110px;
  margin-left: -50px;
}

.headerWrapper .header .part2 .countryDrop {
  /*Country box*/
  text-align: left;
  justify-content: flex;
  width: 160px;
  height: 45px;
  min-width: 170px;
  margin-top: 0px;
  margin-left: -7.9rem;
  color: grey;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
}
.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: black;
  line-height: 5px;
  padding: 10px 15px !important ;
}
.headerWrapper .header .part2 .countryDrop .name {
  font-size: 15px !important;
  text-transform: capitalize !important;
  color: rgb(59, 59, 146);
  font-weight: 560;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.8;
}

header .headerSearch {
  width: 130%;
  height: 43px;
  background: rgb(240, 237, 237);
  padding: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(36, 21, 21, 0.8);
  width: 100%;
  height: 23px;
  border: 0px !important;
  padding: 0px 25px;
  font-size: 20px;
}

header .headerSearch button {
  position: absolute;
  top: 0px;
  right: 2px;
  z-index: 100;
  min-width: 40px !important;
  height: 45px !important;
  width: 50px !important;
  border-radius: 200% !important;
  color: black;
}
header .headerSearch button svg {
  font-size: 20px;
}

.part3 {
  display: flex;
  align-items: center;
}
.ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1px;
}

header .part3 .circle {
  /*User button ko lagi*/
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: black;
  margin-left: 25px;
}
header .part3 .circle .mr-3 {
  margin-top: 50rem;
}

header .part3 .circle svg {
  font-size: 22px;
}
.cartTab .price {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-left: -5px;
}
.cartTab button {
  background: #fff1ee !important;
}
.cartTab button svg {
  color: red !important;
}
.cartTab .count {
  /*Shopping cart ko number*/
  position: absolute;
  top: -4px;
  right: -10%;
  background: red;
  border-radius: 50%;
  color: white;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
}
