* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.bg-blue {
  background: rgb(64, 64, 153);
}

.container {
  max-width: 90%;
}

.cursor {
  cursor: pointer;
}
.text-light {
  color: #8b8b8b !important;
}
.text-sml {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: white !important;
}
::-webkit-scrollbar-track {
  background: white !important;
}

.headerWrapper {
  border-bottom: 1px solid rgb(218, 211, 211);
  padding-bottom: 0px;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper img {
  height: 80px;
  width: 110px;
  margin-left: -10px;
}

.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  width: 160px;
  height: 45px;
  min-width: 170px;
  margin-top: 0px;
  margin-left: -3rem;
  color: grey;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: black;
  line-height: 5px;
  padding: 10px 15px !important;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 15px !important;
  text-transform: capitalize !important;
  color: rgb(59, 59, 146);
  font-weight: 560;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.8;
}

.headerSearch {
  width: 100%;
  height: 43px;
  background: rgb(240, 237, 237);
  padding: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(36, 21, 21, 0.8);
  width: 100%;
  height: 23px;
  border: 0px !important;
  padding: 0px 25px;
  font-size: 20px;
}

.headerSearch button {
  position: absolute;
  top: 0px;
  right: 2px;
  z-index: 100;
  min-width: 40px !important;
  height: 45px !important;
  width: 50px !important;
  border-radius: 50% !important;
  color: black;
}

.headerSearch button svg {
  font-size: 20px;
}

.part3 {
  display: flex;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1px;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: black;
  margin-left: 25px;
}

header .part3 .circle .mr-3 {
  margin-top: 50rem;
}

header .part3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-left: -5px;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: red !important;
}

.cartTab .count {
  position: absolute;
  top: -4px;
  right: -10%;
  background: red;
  border-radius: 50%;
  color: white;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
}

.locationmodel .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationmodel p {
  padding: 10px;
}

.locationmodel .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationmodel .countryList li {
  width: 100%;
  text-transform: capitalize !important;
  list-style: none;
}

.locationmodel .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: black !important;
  justify-content: flex-start !important;
  padding: 15px 20px;
  font-weight: 12px;
}

.locationmodel .countryList li button:hover {
  background: white;
}

.locationmodel .countryList li button.active {
  background: rgb(215, 210, 210) !important;
}

.locationmodel .close_ {
  position: absolute;
  top: -90px;
  right: -10px;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.locationmodel .close_ svg {
  font-size: 60px;
}

nav .navpart1 {
  max-width: 16.66759%;
  flex: 0 0 16.66759%;
}

nav .navpart2 {
  max-width: 83.32994%;
  flex: 0 0 83.32994%;
}

nav .navpart1 .catWrapper {
  position: relative;
}
/*all category ko bhitra ko products*/
nav .navpart1 .catWrapper .sidebarNav {
  width: 100%;
  background: white;
  position: absolute;
  top: 118%;
  left: -5px;
  border: 1px solid rgb(201, 196, 196);
  padding: 15px;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
}

nav .navpart1 .catWrapper .sidebarNav.open {
  visibility: visible;
  opacity: 1;
  max-height: 300px; /* Adjust according to your needs */
  overflow: auto;
  padding: 5px;
}

nav .navpart1 .catWrapper .sidebarNav ul li {
  list-style: none;
  padding: 12px 10px;
  width: 100%;
  position: static; /* Ensure the parent is relative */
}

nav .navpart1 .catWrapper .sidebarNav ul li button {
  color: black;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}
/*icon >*/
nav .navpart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 13px;
  opacity: 0.8;
}

nav .navpart1 .catWrapper .sidebarNav ul li button:hover {
  background: transparent !important;
}

nav .navpart1 .catWrapper .sidebarNav ul li:hover .submenu {
  display: block; /* Ensure submenu is visible on hover */
  left: 50%;
}
/*all category bhitra ko option bhitra ko men,women ko bhitra*/
nav .navpart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  background: #e9e3e3;
  z-index: 100;
  padding: 5px;
  display: none; /* Initially hide submenu */
}

/*All categories ko box*/
nav .allCatTab {
  background: #2bbef9;
  padding: 10px 38.6px !important;
  border-radius: 30px;
  margin-left: -10px;
}

nav .allCatTab * {
  color: white;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 500;
  color: aliceblue;
  font-size: 10px;
}

nav .allCatTab .icon1 svg {
  font-size: 20px;
}

nav .allCatTab .icon2 svg {
  font-size: 15px;
}

nav .allCatTab .icon2 .ml-2 {
  font-size: 15px;
  margin-top: 5px;
}

nav .navpart2 ul {
  margin-top: -20px;
  padding-left: 90px;
  font-weight: 30px;
}
nav .navpart2 ul li a {
  text-decoration: none;
}
nav .navpart2 ul li a button {
  font-size: 15px;
  font-weight: 550;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px 28px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  /* margin-left: -1.5em; */
}
nav .navpart2 ul li a svg {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #508da5;
}
nav .navpart2 ul li a:hover {
  background: white;
  color: #2bbef9;
}
nav .navpart2 ul li {
  padding-bottom: 0px;
}
nav .navpart2 ul li {
  position: relative;
}
nav .navpart2 ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 100px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
nav .navpart2 ul li .submenu a {
  display: block;
  width: 100%;
  z-index: 1000;
}
nav .navpart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-transform: capitalize !important;
  font-weight: 550 !important;
  z-index: 1000;
}
nav .navpart2 ul li .submenu a button:hover {
  background: rgb(240, 236, 236) !important;
}
nav .navpart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 130%;
}
.homeBannerSection {
  width: 100%;
  position: relative;
  padding: 25px;
}

.homeBannerSection .item {
  display: flex; /* Flex to center the image */
  align-items: center; /* Center the image vertically */
}

.homeBannerSection .item img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Prevent inline element gaps */
}
.homeBannerSection .slick-arrow {
  position: relative;
  overflow: hidden;
}

.homeBannerSection .slick-arrow {
  /*prev next arrow ko lagi*/
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  background: #444444;
  border-radius: 100%;
  /* font-family: Fontawesome !important; */
  box-shadow:
    0 1px 3px rgba(0 0 0 / 12%),
    0 1px 2px rgba(0 0 0 / 24%) !important;
}

.slick-prev {
  left: 60px !important;
  color: black;
}
.slick-next {
  right: 60px !important;
  color: black;
}
.slick-next::before {
  color: white;
}

.homeBannerSection {
  cursor: pointer;
}

.homeProducts {
  padding: 25px 0px;
  width: 80%;
}
.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.info .text-light {
  font-size: 15px;
  font-weight: 600;
  margin-left: 320px;
  margin-top: 10px;
}
.info .hd {
  font-size: 25px;
  font-weight: 500;
  margin-top: -300px;
  margin-left: 320px;
}

.d-flex {
  display: flex !important;
}

.container .viewAllBtn {
  position: relative;
  padding: 4px 7px !important;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 50px;
  width: 110px;
  left: 62rem;
  top: -35rem;
  margin-top: 25%;
  border-radius: 10%;
  color: #2bbef9;
  font-weight: 600;
  text-transform: capitalize !important;
}

.container .viewAllBtn svg {
  font-size: 20px;
  font-weight: 650;
}
.homeProducts .product_row .slick-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 30px !important;
  height: 30px !important;
  background: #140f0f;
  border-radius: 100%;
  opacity: 0.5;
}

.homeProducts .product_row .slick-prev {
  margin-left: -59px;
  background: black;
  z-index: 100;
}
.homeProducts .product_row .slick-next {
  right: 5px !important;
  margin-top: 0.5rem;
  background: black;
}
/*Item bahira ko box */
.product_row {
  width: 1190px;
  height: 500px;
  /* border: 1px solid rgba(199, 7, 7, 0.1); */
  margin-left: -6rem;
  margin-top: -34rem;
}
/*item haru bhako box*/
.product_row .ItemSection {
  width: 1175px;
  margin-top: -25px;
  padding: 6px;
  margin-left: -3px;
}
.product_row .imgWrapper {
  width: 200px;
  height: 420px;
  padding: 10px;
  margin-top: 38px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
}

.slick-list .slick-track {
  margin-left: 15px;
}

/*Item description*/
.productItem {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
/*Discount ko*/
.productItem .badge {
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 6px;
  left: 9px;
  z-index: 100;
}
.productItem .info {
  padding: 1px;
}
.productItem .info .h5 {
  font-size: 14px;
  font-weight: 600;
}
.productItem .info .OldPrice {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
.productItem .info .Netprice {
  font-size: 18px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
.product_row .item {
  border-right: 1px solid transparent !important;
}
/*Add to wishlist button and expand*/
.productItem .actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -1050%;
  top: 6px;
  font-size: 10px;
  z-index: 1000;
  padding: 1px;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  transition: all 0.3s;
}
.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 25px !important;
  min-width: 35px !important;
  height: 35px !important;
  width: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  background: white;
  opacity: 0.9;
  box-shadow:
    0 1px 3px rgba(0 0 0 / 12%),
    0 1px 2px rgba(0 0 0 / 24%) !important;
}
.productItem .actions button:hover {
  background: #6fc8eb;
}
.productItem .actions button:hover svg {
  color: white !important;
}
.productItem .actions svg {
  font-size: 20px !important ;
  pointer-events: none;
  font-weight: 600;
}
.productItem .imgWrapper {
  overflow: hidden;
}
.productItem .imgWrapper img {
  transition: all 0.3s ease-in-out;
}
/*Product item ko image ma hover garda actions ko */
.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}
/*Image on pointed get bigger*/
.productItem .imgWrapper:hover img {
  transform: scale(1.1);
}
.swiper {
  padding-right: 1px !important;
  margin-top: -20px;
}
.badge-primary {
  background: #2bbef9 !important;
}
